<h1> <%= @post.title %> </h1>
<h3> <%= @post.body %> </h3>
<% @post.photos.each do | photo | %>
	<%= image_tag(photo.url, size: "800x600")%>	<br> <br>
<% end %>
  <p><%= link_to "Write Comment", new_post_comment_path(@post.id) %></p>
<% @comments.each do |comment| %>
  <p>
  User <b><%= comment.user.email.split('@').first%></b> write: <br />
  <%= comment.body %> <br>
  <% if user_signed_in? %>
    <% if comment.user_id == current_user.id %>
      <%= link_to "Delete comment", post_path(@post.id), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  <% end %>
  </p>
<% end %>
<% if user_signed_in? %>
  <% if @post.user_id == current_user.id %>
    <hr>
    <%= link_to "Edit", edit_post_path %> |
    <%= link_to "Delete", post_path(@post.id), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
<% end %>
